img{
	max-width: 20%;
}
.instructions{
	background-color: #80bfff;
}
body{
	color: #8600b3;
	text-align: center;
	font-family: Georgia, serif;
}
#crystalsDiv{
	padding-top: 10px;
}
#randomNumber{
	
}
